.clothingList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.pagination a {
  margin: 0 5px;
  font-size: 18px; 
  font-weight: bold; 
  text-decoration: none; 
  color: black; 
  transition: text-decoration 0.3s; 
}

.pagination a:hover {
  text-decoration: underline; 
}